<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qoobico.calculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <!--    <uses-permission android:name=".GetKeyForFacebook"></uses-permission> -->


      <!--    android:name=".GetKeyForFacebook" -->

    <application
    android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity android:name=".CalculatorActivity"></activity>
        <activity android:name=".FactorialActivity"></activity>
        <activity android:name=".PairsActivity"></activity>
        <activity android:name=".PalindromActivity"></activity>
        <activity android:name=".LogoutActivity" />
        <activity android:name=".RegistrActivity"></activity>
        <activity android:name=".ForgorPassActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c6042cbf64737bd2f4a7ca9c357b8c943d514cfd" />
    </application>

</manifest>